@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  font-family: "Inconsolata", monospace;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}

::selection {
  color: white;
  background-color: #f3275e;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(50, 50, 50, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9c9c9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.container-center {
  @apply container mx-auto !max-w-screen-xl;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
